[user]
	name = Thomas Andolf
	email = thomas.andolf@gmail.com
[core]
    editor = nvim
    autocrlf = input
[alias]
    graph = "log --graph --all --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%<(20)%an %Cgreen%d %Creset%s' --date=short"
    last = "log -1 HEAD --stat"
[push]
    default = simple
	autoSetupRemote = true
